---
permalink: /robots.txt
eleventyExcludeFromCollections: true
layout: false
---
# Everything on this site is public and may be indexed, cached and archived.
# There is no tracking to opt out of: no cookies, no scripts, no analytics.
User-agent: *
Allow: /
Sitemap: {{ site.url }}/sitemap.xml
